.grp-rendered-posts,
.grp-rendered-posts * {
    box-sizing: border-box !important;
}
.grp-rendered-posts .rendered-posts {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.grp-rendered-posts .rendered-posts:not(:last-child){
    margin-bottom: 30px;
}
.grp-rendered-posts .rendered-posts > div {
    padding: 0 15px !important;
}
.grp-rendered-posts .rendered-posts .grp-thumb img {
	max-width: 100%;
}
.grp-rendered-posts .rendered-posts .grp-thumb ,
.grp-rendered-posts .rendered-posts .grp-details {
    width: 100%;
}
@media(min-width: 570px){
    .grp-rendered-posts .rendered-posts .grp-thumb {
        width: 40%;
    }
    .grp-rendered-posts .rendered-posts .grp-details{
        width: 60%;
    }
}
@media(min-width: 992px){
    .grp-rendered-posts .rendered-posts .grp-thumb {
        width: 30%;
    }
    .grp-rendered-posts .rendered-posts .grp-details{
        width: 70%;
    }
}
.grp-pagination {
	display: flex;
	flex-wrap: wrap;
}
.grp-pagination > a{
    display: inline-flex;
    height: 30px;
    width: 30px;
    text-decoration: none !important;
    color: #444;
    justify-content: center;
    align-items: center;
    border: 1px solid #dee2e6;
    margin: 0 5px 5px 0;
    font-weight: 600;
    font-size: 13px;
}
.grp-pagination > a.current{
    background-color: #2d98da;
    color: #ffffff;
}

.grp-pagination > a:not(.current):hover{
    background-color: #45aaf2;
    color: #ffffff;
}
.title-parent {
	display: flex;
	align-items: center;
	justify-content: space-between;
    margin-bottom: 30px;
}

.title-parent .post-title{
    margin: 0;
}
.title-parent .toggle-icon a{
    display: inline-flex;
    padding: 5px;
    text-decoration: none;
    color: #444;
    opacity: 0.5;
}
.title-parent .toggle-icon a:hover{
    opacity: 0.75;
}
.title-parent .toggle-icon a.active{
    opacity: 1;
}
