.grp-wrap * {
    box-sizing: border-box !important;
}
.grp-wrap .grp-count {
	display: inline-flex;
	align-items: center;
    border: 1px solid #dee2e6;
}
.grp-wrap .grp-count a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    text-decoration: none;
    color: #444;
}
.grp-wrap .grp-count > * {
    border: none !important;
    outline: 0;
    box-shadow: none;
    border-radius: 0 !important;
    height: 30px;
}
.grp-wrap .grp-count #post-per-page::-webkit-inner-spin-button,
.grp-wrap .grp-count #post-per-page::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.grp-wrap .grp-count #post-per-page {
    text-align: center;
	-moz-appearance: textfield;
    width: 45px;
    border-right: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    margin: 0;
}
.grp-wrap .grp-count > a {
    background-color: #dee2e6;
    font-size: 13px;
}
.grp-wrap .grp-count #post-per-page:focus{
    box-shadow: none;
}
.grp-wrap .grp-count > a:active{
    background-color: #2271b1;
    color: white;
}
.grp-wrap .inner-wrap {
	display: flex;
    flex-wrap: wrap;
}
.grp-wrap .options,
.grp-wrap .author-info {
	width: 100%;
	padding: 25px;
	background: white;
}
.grp-wrap .counter-parent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px !important;
}
.grp-wrap .author-info img {
    max-width: 100%;
}

/* author info */

.grp-wrap .social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    border: none;
    background: #2271b1;
    transition: border-radius 0.25s ease-in-out;
    border-radius: 12px 0 12px 0;
}
.grp-wrap .social a:hover{
    border-radius: 0 12px 0 12px;
}
@media(min-width:576px){
    .grp-wrap .inner-wrap{
        justify-content: space-between;
    }
    .grp-wrap .options,
    .grp-wrap .author-info {
        max-width: calc(50% - 15px);
    } 
}